.main-cnt {
  width: 100%;
  margin: auto;
  padding-bottom: 50px; 
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav h2 {
  width: 185px;
  font-size: 1.2rem;
  margin: 25px auto 25px 0;
  text-align: left;

}

.back-btn {
  padding: 5px 10px;
  border-radius: 3px;
  background-color: #000;
  color: #fff;
  font-size: .8rem;
  margin: 25px auto 25px 25px;
  transition: all 0.3s ease-in-out;
}

.back-btn:hover {
  color: #000;
  background-color: rgb(135, 135, 255);
}

.tiles-cnt {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.foto-tile {
  width: 250px;
  height: 345px;
  background-color: #fff;
  transition: all .3s ease-in-out;
  margin: 10px;
}

.actor-img {
  background-size: cover;
  width: 250px;
  height: 300px;
}

.foto-tile:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.foto-tile h3 {
  height: 24px;
  margin: 10px auto;
}

.image-profile {
  background-position: center;
  background-size: cover;
  height: 400px;
}

.actor-dsc-ctn {
  width: 90%;
  margin: auto;
}

