.main-cnt {
  width: 90%;
  margin: auto;
  padding-bottom: 50px; 
}

.cnt h2 {
  font-size: 1.2rem;
  margin: 25px auto;
  text-align: center;
}

.home-img {
  width: 90%;
  margin: auto;
  height: 500px;
  background-size: cover;
  background-position: center;
  margin-bottom: 50px;
  transition: all .3s ease-in-out;
}

.home-img:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.thumbnail-cnt {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-thumbnail {
  background-size: cover;
  width: 200px;
  height: 100px;
  transition: all .3s ease-in-out;
  margin-right: 10px;
}

.home-thumbnail:hover {
  transform: scale(1.05);
  cursor: pointer;
}